// src/styles/components/Header.scss
@use '../variables' as *; // Import des variables pour pouvoir les utiliser

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-md $spacing-lg;
  // background-color: $color-light-gray; // fond gris clair
  background-color: #808080;
  color: $color-dark-gray;
  position: sticky;
  top: 0;
  z-index: 100;

  // &__logo img {
  //   height: $logo-height; // hauteur du logo depuis variables
  //   width: $logo-width;   // largeur du logo depuis variables
  // }
  &__logo img {
    height: "100px"; // hauteur du logo depuis variables
    width: $logo-width;   // largeur du logo depuis variables
  }


  &__nav {
    display: flex;
    gap: $spacing-lg;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    .header__link {
      color: $color-primary-violet; // violet thème
      text-decoration: none;
      font-weight: 500;
      font-size: 1rem;

      &.active {
        font-weight: bold;
      }
    }

    .header__lang-icon {
      cursor: pointer;
      font-size: 1.2rem;
      color: $color-primary-violet; // violet thème
    }
  }

  &.rtl {
    direction: rtl;

    &__nav {
      flex-direction: row-reverse;

      .header__link {
        text-align: right;
      }
    }
  }
}
