@use '../variables' as *;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; // padding horizontal uniquement
  margin: 0;       // aucune marge
  background-color: $color-light-gray;
  
  color: #1E1E2F;
  position: sticky;
  top: 0;
  z-index: 100;
  border: 02px solid $color-light-gray;
  // border-radius: 8px;

  &__logo img {
    height: 80px; // taille du logo conservée
    width: 200px;
    display: block;
  }

  &__nav {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    .header__link {
      color:$color-primary-orange;
      text-decoration: none;
      font-weight: 500;
      font-size: 2rem;

      &.active {
        font-weight: bold;
      }
    }

    .header__lang-icon {
      cursor: pointer;
      font-size: 1.2rem;
      color:$color-primary-violet;
    }
  }

  &.rtl {
    direction: rtl;

    &__nav {
      flex-direction: row-reverse;

      .header__link {
        text-align: right;
      }
    }
  }
}
