@use '../variables' as *;
.hero-section {
  width: 100vw;
  height: 50vh; // 50 % de la hauteur d’origine
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;

  .hero-carousel {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: 0.5s;
    }

    .carousel-prev,
    .carousel-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0,0,0,0.5);
      color: $color-white;
      border: none;
      border-radius: 50%;
      padding: 0.25rem; // réduit
      cursor: pointer;
      z-index: 2;
    }

    .carousel-prev { left: 10px; }
    .carousel-next { right: 10px; }
  }

  .hero-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;

    /* rectangle noir semi-transparent */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 1.5rem;
    border-radius: 10px;

    h1 {
      font-size: 1.5rem; // moitié de 3rem
      font-family: $font-heading;
      margin-bottom: 0.5rem;
      color: $color-white;
    }

    p {
      font-size: 0.9rem; 
      font-family: $font-main;
      max-width: 350px;
      margin: 0 auto;
      line-height: 1.4;
      color: $color-white;
    }
  }
}
