@use '../variables' as *;

.program-info-card {
  background-color: $color-white;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-md;
  padding: $spacing-lg;
  margin-bottom: $spacing-xl;
  text-align: left;

  &.rtl {
    direction: rtl;
    text-align: right;
  }

  h2 {
    color: $color-primary-violet;
    margin-bottom: $spacing-md;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: $spacing-sm;

    svg { color: $color-primary-orange; } // icônes orange
  }

  h3 {
    margin-top: $spacing-md;
  }

  ul {
    padding-inline-start: $spacing-md;

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      svg { color: $color-primary-orange; } // icônes orange
    }
  }
}
