@use '../variables' as *;

.home {
  padding: $spacing-xl $spacing-lg;
  background-color: $color-light-gray;

  h1 {
    font-family: $font-heading;
    font-size: 3rem;
    color: $color-primary-violet;
    margin-bottom: $spacing-md;
  }

  p {
    font-family: $font-main;
    font-size: 1.2rem;
    color: $color-primary-orange;
    margin-top: $spacing-md;
  }
}
