@use 'variables' as *; // permet d'accéder à toutes les variables sans préfixe

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $color-light-gray;
  color: $color-primary-violet;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}
