@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-style {
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

@mixin transition($time: 0.3s) {
  transition: all $time ease-in-out;
}
