// Couleurs principales
$color-primary-violet: #4B2BA6;
$color-primary-orange: #F58220;
$color-light-gray: #F5F5F7;
$color-gray: #B0B0B0; // nouveau gris moyen
$color-dark-gray: #1E1E2F;
$color-white: #ffffff;


// Typographie
$font-main: 'Inter', sans-serif;
$font-heading: 'Poppins', sans-serif;

// Espacements
$spacing-xs: 4px;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;

// Bordures / radius
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 15px;

// Ombres
$shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-md: 0 10px 20px rgba(0,0,0,0.1);


$logo-height: 50px;
$logo-width: 200px;